<main class="register-container">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="register-form">
    <h2>Register</h2>

    <label for="username">Username</label>
    <input id="username" formControlName="username" required />

    <label for="password">Password</label>
    <input id="password" type="password" formControlName="password" required />

    @let passwordBox = registerForm.get('password');
    @let errorMsg = passwordBox?.getError('error');
    @if (errorMsg && (passwordBox?.touched || passwordBox?.dirty)) {
        <div class="error-message">
          {{ errorMsg }}
        </div>
    }

    <label for="confirmPassword">Confirm Password</label>
    <input id="confirmPassword" type="password" formControlName="confirmPassword" required />

    @if (registerForm.hasError('passwordsDoNotMatch') && (registerForm.touched || registerForm.dirty)) {
        <div class="error-message">
          Passwords do not match
        </div>
    }

    <button type="submit" [disabled]="registerForm.invalid">Register</button>

    <p class="login-link">
      Have you got already an account? <a routerLink="/login">Log in here</a>
    </p>
  </form>
</main>
